/* your styles go here */

.box-image-text .image {
  min-height: 200px;
  max-height: 200px;
}

.box-simple {
  min-height: 230px;
}

span.data-driven {
  color: #467fbf;
  font-style: italic;
}

/* HANI */

/* main page servicecats */
li.list-inside {
  list-style-position:inside;
}

/*
 * Droid Arabic Kufi (Arabic) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Droid Arabic Kufi';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Regular.eot);
  src: url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Regular.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Regular.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Regular.woff) format('woff'),
       url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Droid Arabic Kufi';
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Bold.eot);
  src: url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Bold.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Bold.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Bold.woff) format('woff'),
       url(//fonts.gstatic.com/ea/droidarabickufi/v6/DroidKufi-Bold.ttf) format('truetype');
}
/*
 * Droid Arabic Naskh (Arabic) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Droid Arabic Naskh';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/droidarabicnaskh/v7/DroidNaskh-Regular.eot);
  src: url(//fonts.gstatic.com/ea/droidarabicnaskh/v7/DroidNaskh-Regular.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/droidarabicnaskh/v7/DroidNaskh-Regular.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/droidarabicnaskh/v7/DroidNaskh-Regular.woff) format('woff'),
       url(//fonts.gstatic.com/ea/droidarabicnaskh/v7/DroidNaskh-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Droid Arabic Naskh';
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/ea/droidarabicnaskh/v7/DroidNaskh-Bold.eot);
  src: url(//fonts.gstatic.com/ea/droidarabicnaskh/v7/DroidNaskh-Bold.eot?#iefix) format('embedded-opentype'),
       url(//fonts.gstatic.com/ea/droidarabicnaskh/v7/DroidNaskh-Bold.woff2) format('woff2'),
       url(//fonts.gstatic.com/ea/droidarabicnaskh/v7/DroidNaskh-Bold.woff) format('woff'),
       url(//fonts.gstatic.com/ea/droidarabicnaskh/v7/DroidNaskh-Bold.ttf) format('truetype');
}
.arType {
  font-family: 'Droid Arabic Kufi', serif;
  letter-spacing: normal !important;
}

html[lang="ar"] div.container,
html[lang="ar"] div.container h1,
html[lang="ar"] div.container h2,
html[lang="ar"] div.container h3,
html[lang="ar"] div.container h4 {
  font-family: 'Droid Arabic Naskh', serif;
}

html[lang="ar"] ul.dropdown-menu li,
html[lang="ar"] li.dropdown a {
  letter-spacing: normal;
  text-decoration: none;
}

html[lang="ar"] .heading h1,
html[lang="ar"] .heading h2,
html[lang="ar"] .heading h3,
html[lang="ar"] .text-uppercase {
  letter-spacing: normal;
}
html[lang="ar"] h1,
html[lang="ar"] h2,
html[lang="ar"] h3,
html[lang="ar"] h4,
html[lang="ar"] .btn {
  letter-spacing: normal !important;
  font-family: 'Droid Arabic Naskh', serif;
}

.language-switcher-en {
  font-family: "Roboto", Helvetica, Arial, sans-serif !important;
}
.language-switcher-ar {
  font-family: 'Droid Arabic Naskh', serif; letter-spacing: normal;
}

/* For /case-studies/ */
div.divider {
  border-bottom: 4px solid #467fbf;
  margin-top: 3em;
}

/* Make colums all the same height */
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
  flex-wrap: wrap;
}
.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

/* RWD */
@media (max-width: 767px) {
  .media-right {
    display: block;
    clear: both;
    max-width: 100%;
  }
}

/* Fix for Owl Carousel RTL */
html[lang="ar"] .owl-carousel .owl-wrapper{
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px);
  float: left;
}
html[lang="ar"] .owl-carousel .owl-item {
  float: left;
}
html[lang="ar"] .owl-carousel .owl-item p {
  letter-spacing: normal !important;
}
html[lang="ar"] .owl-carousel .owl-item h1 {
  line-height: 160%;
}

html[lang="ar"] article h1 {
  line-height: 160%;
}

/* for services.en.html and services.ar.html */
html[lang="en"] .blogShort img {
  margin-right: 1.5em;
}
html[lang="ar"] .blogShort img {
  margin-left: 1.6em;
}
.blogShort hr {
  background-color: #467fbf;
  height: 2px;
  display: block
}

#footer {
  background: #0d47a1;
  padding: 50px 0;
  color: #999999;
}

/* Service detail pages */
h3.serviceheading {
  display: flex;
  width: 100%;
  align-items: center;
}
h3.serviceheading::before,
h3.serviceheading::after {
  content: "";
  background: #467fbf;
  height: 0.14em;
  margin: 0.28em;
  flex: 1;
}
h4.bullet {
  color: #467fbf;
}

/* make ZNAAP video embeds responsive */
.video-container {
  position:relative;
  padding-bottom:56.25%;
  padding-top:30px;
  height:0;
  overflow:hidden;
}
.video-container iframe, .video-container object, .video-container embed {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}
